<% if (!user) { %>
    <p>Главная</p> 
    <p>Пожалуйста, <a href="/login"> авторизуйтесь </a></p>
    <p>Или пройдите регистрацию <a href="/signup"> Регистрация </a></p>
<% } else { %>
    <p>Привет, <%= user.username %>. </p>
    <p>Перейти в <a href="/me">профиль</a>.</p>
<% } %>